@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.error {
  color: red;
}

@include block('App') {
  width: 100%;
  word-wrap: break-word;


  @include element('header') {
    @extend .center-children-vertical;
    flex-wrap: wrap;
    background-color: #222;
    min-height: 50px;
    padding: 20px;
    color: $inverse;

    @include element('hamburger') {
      @include smq__all-desktop() {
        display: none;
      }
      position: relative;

      .bm-burger-button {
        display: none;
      }

      .bm-overlay {
        top: 0;
        left: 0;
        background-color: $transparent-50 !important;
      }

      .bm-menu-wrap {
        top: 0;
        left: 0;
        width: 100% !important;
      }

      @include element('button') {
      }

      @include element('link-list') {
        display: flex;
        flex-direction: column;
        padding-left: 0px;

        @include element('close') {
          position: absolute;
          right: 10px;
          top: 10px;
          font-size: 40px;
        }


        li {
          list-style: none;
          text-decoration: none;
          margin-top: 5px;
          margin-bottom: 5px;
        }

        a {
          font-size: 24px;
          color: $inverse;
          text-decoration: none;

          &:visited {
            color: $inverse;
          }
        }
      }
    }

    @include element('nav') {
      @include smq__all-mobile() {
        display: none;
      }
    }

    @include element('link-list') {
      @extend .center-children-vertical;
      padding-left: 0px;
      margin: 0px;

      li {
        @extend .center-children-vertical;
        display: inline;
        min-width: 100px;
        text-decoration: none;
        margin-left: 5px;
        margin-right: 5px;

        a {
          color: $inverse;

          &:visited {
            color: $sub-standard;
          }
        }
      }
    }
  }

  @include element('logo') {
    animation: App-logo-spin infinite 20s linear;
    height: 40px;
  }

  @include element('title') {
    display: block;
    font-size: 16px;
    margin-left: 10px;
  }

  @include element('intro') {
    font-size: large;
  }

  @include element('entries') {
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    overflow-x: none;
  }
}
