@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.error {
  color: red;
}

@include block('App') {
  text-align: center;

  @include element('header') {
    @extend .center-children-vertical;
    flex-wrap: wrap;
    background-color: #222;
    min-height: 50px;
    padding: 20px;
    color: $inverse;

    @include element('link-list') {
      @extend .center-children-vertical;
      padding-left: 0px;
      margin: 0px;

      li {
        @extend .center-children-vertical;
        display: inline;
        min-width: 100px;
        text-decoration: none;
        margin-left: 5px;
        margin-right: 5px;

        a {
          color: $inverse;

          &:visited {
            color: $sub-standard;
          }
        }
      }
    }
  }

  @include element('logo') {
    animation: App-logo-spin infinite 20s linear;
    height: 40px;
  }

  @include element('title') {
    display: block;
    font-size: 16px;
    margin-left: 10px;
  }

  @include element('intro') {
    font-size: large;
  }
}
