.smq__mobile {
  display: none; }
  @media (min-width: 320px) and (max-width: 767px) {
    .smq__mobile {
      display: block; } }

.smq__tablet {
  display: none; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .smq__tablet {
      display: block; } }

.smq__desktop {
  display: none; }
  @media (min-width: 1024px) {
    .smq__desktop {
      display: block; } }

.smq__large-desktop {
  display: none; }
  @media (min-width: 1440px) {
    .smq__large-desktop {
      display: block; } }

.smq__all-mobile {
  display: none; }
  @media (max-width: 1024px) {
    .smq__all-mobile {
      display: block; } }

.smq__not-mobile {
  display: none; }
  @media (min-width: 1024px) {
    .smq__not-mobile {
      display: block; } }

.smq__all-desktop {
  display: none; }
  @media (min-width: 1024px) {
    .smq__all-desktop {
      display: block; } }

.smq__not-desktop {
  display: none; }
  @media (max-width: 1024px) {
    .smq__not-desktop {
      display: block; } }

.center, .center-text {
  margin-left: auto;
  margin-right: auto; }

.center-text {
  text-align: center; }

.center-children {
  display: flex;
  align-items: center;
  justify-content: center; }

.center-children-horizontal {
  display: flex;
  justify-content: center; }

.center-children-vertical, .App__header, .App__header__link-list, .App__header__link-list li {
  display: flex;
  align-items: center; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.error {
  color: red; }

.App {
  width: 100%;
  word-wrap: break-word; }
  .App__header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    background-color: #222;
    min-height: 50px;
    padding: 20px;
    color: #F9F9F9; }
    .App__header__hamburger {
      position: relative; }
      @media (min-width: 1024px) {
        .App__header__hamburger {
          display: none; } }
      .App__header__hamburger .bm-burger-button {
        display: none; }
      .App__header__hamburger .bm-overlay {
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.75) !important; }
      .App__header__hamburger .bm-menu-wrap {
        top: 0;
        left: 0;
        width: 100% !important; }
      .App__header__hamburger__link-list {
        display: flex;
        flex-direction: column;
        padding-left: 0px; }
        .App__header__hamburger__link-list__close {
          position: absolute;
          right: 10px;
          top: 10px;
          font-size: 40px; }
        .App__header__hamburger__link-list li {
          list-style: none;
          text-decoration: none;
          margin-top: 5px;
          margin-bottom: 5px;
          padding-left: 10px; }
        .App__header__hamburger__link-list a {
          font-size: 7vw;
          color: #F9F9F9;
          text-decoration: none; }
          .App__header__hamburger__link-list a:visited {
            color: #F9F9F9; }
    @media (max-width: 1024px) {
      .App__header__nav {
        display: none; } }
    .App__header__link-list {
      padding-left: 0px;
      margin: 0px; }
      .App__header__link-list li {
        display: inline;
        min-width: 100px;
        text-decoration: none;
        margin-left: 5px;
        margin-right: 5px; }
        .App__header__link-list li a {
          color: #F9F9F9; }
          .App__header__link-list li a:visited {
            color: #88888C; }
  .App__logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40px; }
  .App__title {
    display: block;
    font-size: 16px;
    margin-left: 10px; }
  .App__intro {
    padding-top: 75px;
    font-size: large; }
  .App__entries {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    overflow-x: none; }
    .App__entries__entry-title {
      text-align: center;
      margin-top: 0px;
      padding-top: 0.83em; }
    .App__entries__entry {
      padding-top: 0.83em;
      padding-bottom: 0.83em; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
