.smq__mobile {
  display: none; }
  @media (min-width: 320px) and (max-width: 767px) {
    .smq__mobile {
      display: block; } }

.smq__tablet {
  display: none; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .smq__tablet {
      display: block; } }

.smq__desktop {
  display: none; }
  @media (min-width: 1024px) {
    .smq__desktop {
      display: block; } }

.smq__large-desktop {
  display: none; }
  @media (min-width: 1440px) {
    .smq__large-desktop {
      display: block; } }

.smq__all-mobile {
  display: none; }
  @media (max-width: 1024px) {
    .smq__all-mobile {
      display: block; } }

.smq__not-mobile {
  display: none; }
  @media (min-width: 1024px) {
    .smq__not-mobile {
      display: block; } }

.smq__all-desktop {
  display: none; }
  @media (min-width: 1024px) {
    .smq__all-desktop {
      display: block; } }

.smq__not-desktop {
  display: none; }
  @media (max-width: 1024px) {
    .smq__not-desktop {
      display: block; } }

.center, .center-text {
  margin-left: auto;
  margin-right: auto; }

.center-text {
  text-align: center; }

.center-children {
  display: flex;
  align-items: center;
  justify-content: center; }

.center-children-horizontal {
  display: flex;
  justify-content: center; }

.center-children-vertical, .App__header, .App__header__link-list, .App__header__link-list li {
  display: flex;
  align-items: center; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.error {
  color: red; }

.App {
  text-align: center; }
  .App__header {
    flex-wrap: wrap;
    background-color: #222;
    min-height: 50px;
    padding: 20px;
    color: #F9F9F9; }
    .App__header__link-list {
      padding-left: 0px;
      margin: 0px; }
      .App__header__link-list li {
        display: inline;
        min-width: 100px;
        height: 100px;
        text-decoration: none;
        margin-left: 5px;
        margin-right: 5px; }
        .App__header__link-list li a {
          color: #F9F9F9; }
          .App__header__link-list li a:visited {
            color: #88888C; }
  .App__logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40px; }
  .App__title {
    display: block;
    font-size: 16px;
    margin-left: 10px; }
  .App__intro {
    font-size: large; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
